<!DOCTYPE HTML>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>

<body ng-app='npmTracker' ng-controller='MainCtrl'>
    <nav class="navbar navbar-default">
    </nav>
    <div class="container">
                <h3>{{message}}</h3>
                <p>{{everything}}</p>
        <div class="row">
        	<summary-chart summary-data='everything'></summary-chart>
            <div class="col-sm-4">
                <button class="btn btn-primary" ng-click='resourceTest()'>Get Data</button>
            </div>
            <summary-table summary-data='everything'></summary-table>
            <!--this code-->
            
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src='modules/angular-resource/angular-resource.min.js'></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src='javascripts/app.js'></script>
<script src='javascripts/controllers.js'></script>
<script src='javascripts/directives.js'></script>
