<style>

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
  /*stroke: gray;*/
}
.y.axis path {
	display: none;
	/*stroke: gray;*/
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.area {
	fill:steelblue;
}
.package{
  fill:#000;
}

.datapoints {
  stroke: white;
  stroke-width: 2px;
}

#tooltip {
    opacity: 0;
    color: white;
    float: left;
    position: absolute;
    font: 14px sans-serif;
    text-align: center;
    /*background: steelblue;*/
    border: 1px solid;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
}

</style>
<div id="tooltip"></div>
<div id="chart-container"></div>
