body {
    padding: 20px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: radial-gradient( #FFFFFF, #9B9E9E);
}

a {
    color: #000000;
    text-decoration: underline;
}

hr {
	border: 0;
    width:100%;
    height: 2px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);

}

footer {
    margin-top: 20px;
}

.error {
    text-color: red;
    text-decoration: muted;
}

.btn-mine{
    background-color: #6f1d67;
    border-color: #6f1d67;
    color: #fff;
}

.btn-axis{
    background-color: #1d666f;
    border-color: #1d666f;
    color: #fff;
}

.btn-green{
    background-color: #1d6f25;
    border-color: #1d6f25;
    color: #fff;
}

.btn-blue{
    background-color: #251d6f;
    border-color: #251d6f;
    color: #fff;
}