body {
    padding: 20px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: radial-gradient( #FFFFFF, #9B9E9E);
}

a {
    color: #000000;
    text-decoration: underline;
}

hr {
	border: 0;
    height: 2px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);

}

footer {
    margin-top: 20px;
    position: relative;
    bottom:10px;
}

.error {
    text-color: red;
    text-decoration: muted;
}

.btn-mine{
    background-color: #6f1d67;
    border-color: #6f1d67;
    color: #fff;
}



.header{
    margin: -20px -20px;
    text-align: center;
    font-size: 16px;
    background: #6f1d67;
    opacity: .5;
    padding: 10px 0 20px 0;
    background-image: -webkit-linear-gradient(top, #6f1d67, #320d2e);
    background-image:    -moz-linear-gradient(top, #6f1d67, #320d2e);
    background-image:     -ms-linear-gradient(top, #6f1d67, #320d2e);
    background-image:      -o-linear-gradient(top, #6f1d67, #320d2e);
}

#header-text{
    color:white;
    
}